## Jerrin Redmon
### CS-430
### In-Class Assignment 2

In [426]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [427]:
house = pd.read_csv('/content/newhousing.csv')

In [428]:
house.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,5250000,5500,3,2,1,1,0,1,0,0,0,0,1,0,1833.333333,0.666667
1,4480000,4040,3,1,2,1,0,0,0,0,1,0,1,0,1346.666667,0.333333
2,3570000,3640,2,1,1,1,0,0,0,0,0,0,0,1,1820.000000,0.500000
3,2870000,3040,2,1,1,0,0,0,0,0,0,0,0,1,1520.000000,0.500000
4,3570000,4500,2,1,1,0,0,0,0,0,0,0,0,0,2250.000000,0.500000

In [429]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            545 non-null    int64
 1   area             545 non-null    int64
 2   bedrooms         545 non-null    int64
 3   bathrooms        545 non-null    int64
 4   stories          545 non-null    int64
 5   mainroad         545 non-null    int64
 6   guestroom        545 non-null    int64
 7   basement         545 non-null    int64
 8   hotwaterheating  545 non-null    int64
 9   airconditioning  545 non-null    int64
 10  parking          545 non-null    int64
 11  prefarea         545 non-null    int64
 12  semi-furnished   545 non-null    int64
 13  unfurnished      545 non-null    int64
 14  areaperbedroom   545 non-null    float64
 15  bbratio          545 non-null    float64
dtypes: float64(2), int64(14)
memory usage: 68.2 KB

In [430]:
X = house.drop('price', axis = 1)
y = house[['price']]

### Splitting the data

In [431]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = .2, random_state = 49)

### Linear Regression

In [432]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)
LR = regressor.score(X_test,y_test)
print(LR)

0.7541699439609372

### Random Forest

In [433]:
from sklearn.ensemble import RandomForestRegressor
RFC = RandomForestRegressor(n_estimators= 500, random_state = 49)
RFC.fit(X_train,y_train)
RF = RFC.score(X_test,y_test)
print(RF)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.7169143979923425

### Scaling Data for PCA

In [434]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y = StandardScaler()
X_scaled = sc_x.fit_transform(X)
y_scaled = sc_y.fit_transform(y)

In [435]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
pca.fit(X_scaled)
x_pca = pca.transform(X_scaled)

### Resplit the train

In [436]:
X_train,X_test,y_train,y_test = train_test_split(x_pca,y_scaled, test_size = .2, random_state = 49)

### Linear Regression with PCA

In [437]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)
regressor_PCA = regressor.score(X_test,y_test)
print(regressor_PCA)

0.7497908331611398

### Random Forest with PCA

In [438]:
from sklearn.ensemble import RandomForestRegressor
RFC = RandomForestRegressor(n_estimators = 500, random_state = 49)
RFC.fit(X_train,y_train)
RFC_PCA = RFC.score(X_test,y_test)
print(RFC_PCA)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.7681967316031593

### Results

In [439]:
from prettytable import PrettyTable
myTable = PrettyTable(['Techniques', 'Score'])
myTable.add_row(['Linear Regression', LR])
myTable.add_row(['Random Forest', RF])
myTable.add_row(['Linear Regression PCA', regressor_PCA])
myTable.add_row(['Random Forest PCA', RFC_PCA])

In [440]:
print(myTable)

+-----------------------+--------------------+
|       Techniques      |       Score        |
+-----------------------+--------------------+
|   Linear Regression   | 0.7541699439609372 |
|     Random Forest     | 0.7169143979923425 |
| Linear Regression PCA | 0.7497908331611398 |
|   Random Forest PCA   | 0.7681967316031593 |
+-----------------------+--------------------+